body {
  background: #F4F4F4;
}

.container {
  display: flex;
  justify-content: center;
}

.column {
  padding: 0px;
}

#SourceImage {
  width: 100%;
  height: auto;
  display: none;
}

#Canvas {
  max-width: 100%;
  max-height: 450px;
}

.top-row {
  display: flex;
  justify-content: center;
}

.middle-row {
  display: flex;
  justify-content: center;
}

.bottom-row {
  display: flex;
  justify-content: center;
}

.custom-button {
  background-color: #DCD0C0;
  color: black;
  text-align: center;
  text-decoration: none;
  margin: 0px 2px;
  border-radius: 16px;
  border: 1px solid #373737;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  opacity: 0.6;
  transition: 0.3s;
}

.custom-button:hover {
  opacity: 1;
}

input[type="file"] {
    display: none;
}

input[type="button"] {
    display: none;
}

input[type="submit"] {
    display: none;
}
